@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?24825423');
  src: url('../font/fontello.eot?24825423#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?24825423') format('woff2'),
       url('../font/fontello.woff?24825423') format('woff'),
       url('../font/fontello.ttf?24825423') format('truetype'),
       url('../font/fontello.svg?24825423#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Kurale';
	src: url('../font/Kurale-Regular.eot');
	src: local('☺'), url('../font/Kurale-Regular.woff') format('woff'), url('../font/Kurale-Regular.ttf') format('truetype'), url('../font/Kurale-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

