a[href^="mailto"]:before, a[href^="http"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
 
  font-variant: normal;
  text-transform: none;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.event a[href^="mailto"]:before {
  content: '\e800';
}

.event a[href^="http"]:before {
  content: '\e801';
}
 
