/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
    outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
}

body {
  background: #fdf6e3;
  color: black;
  font-size: 2em;
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-family: 'Kurale', 'Helvetica', sans-serif;
  height: 100%;
  min-height: 100%;
  text-align: center;
}

header {
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 726px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-align: left;
  z-index: 1;
}

header > p {
  position: absolute;
  background: rgba(255,255,255,0.6);
  left: 0;
  bottom: 0;
  max-width: 65%;
  padding: 0.5rem 0rem 0.5rem 2rem;
  font-size: 2.8rem;
}

header > p > span {
  border-left: 2px solid rgba(255,255,255,0.3);
  display: inline-block;
  padding: 0;
  padding-left: 2rem;
}

h1 {
  position: absolute;
  left: 2rem;
  top: 0;
}

.logo a.top {
  color: white;
  text-decoration: none;
}

.menu {
  z-index: 1000;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 10px;
  min-height: 44px;
  transition: opacity 0.5s ease;
  opacity: 1;
  background: rgba(255, 255, 255, .25);
}

.menu.transparent{
  transition: opacity 0.5s ease;
  opacity: 0;
}

.menu nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: inline-block;
  background: #fdf6e3;
  padding: .5rem 1rem;
}

.menu nav a:not(:last-child) {
  margin-right: 1rem;
}

.content {
  background: #fdf6e3;
  margin-top: 726px;
  position: relative;
  z-index: 999;
}

.container {
  max-width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 4rem;*/
}

.event hr {
  border: 0;
  margin: 2rem 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

p {
  vertical-align: top;
}

p img:first-child {
  float: left;
  margin-right: 2rem;
}

.event p img {
  margin-top: 1rem;
  border-radius: 6px;
}

p:after {
  content: "";
  display: block;
  clear: both;
}
  
a[href]:not(.top) {
  padding-bottom: 2px;
  text-decoration: none;
  transition: color 0.5s ease;
  /* blue */
  color: #268bd2;
}

a[href]:not(.top):hover {
  transition: color 0.5s ease;
  /* violet */
  color: #6c71c4;
}

.event a[href]:hover {
  border-bottom: 2px solid #6c71c4;
}


h2 {
  border-bottom: medium double #93a1a1;
  margin-bottom: 2rem;
  font-size: 4rem;
}

p {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.intro {
  padding-top: 4rem;
}

.intro p {
  margin-bottom: 2rem;
}

.intro p:first-child {
  font-size: 2.8rem;
}

.event {
  margin-bottom: 3rem;
}

.event h3 {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 3.2rem;
  border-bottom: medium double #839496;
}

.event h4 {
  text-transform: uppercase;
}

.event p {
  margin-top: 1.5rem;
}

.event p:last-child {
  font-size: 2rem;
}

/* teacher paragraph style */
.event h4 + p, .event h4 + p:before {
  margin-top: -.5rem;
  font-size: 1.6rem;
}

.event h4 + p:before {
  content: 'By ';
}

.getting-there .section {
  background: url(../img/kuang-si-waterfall1-1200x799.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 550px;
}

.getting-there .section > p:first-child {
  position: relative;
  top: 2rem;
  background: rgba(255,255,255,0.6);
  margin: 2rem;
  padding: 2rem;
}

footer {
  position: relative;
  z-index: 2;
  padding-bottom: 2rem;
  padding-top: 4rem;
  min-height: 12rem;
}

footer > nav {
  display: inline-block;
  /*padding-top: 1rem;*/
  margin-bottom: 1rem;
}

footer > nav:first-child {
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}


@media (max-width: 980px) {
  html {
    /*font-size: 50%;*/
  }

  p {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .container {
    padding: 0 2rem;
  }


  .event h3 {
    font-size: 2.6rem;
  }
}

@media (max-width: 640px) {
  h1 {
    position: relative;
    display: block;
    left: 0;
    font-size: 3rem;
  }

  header {
    position: relative;
    left: auto;
    top: auto;
    min-height: auto;
  }

  header > p {
    position: relative;
    font-size: 1.8rem;
    bottom: auto;
  }

  .menu {
    background: rgba(255,255,255, 1);
    color: black;
  }

  .menu nav {
    position: relative;
    background: transparent;
    display: block;
    top: auto;
    left: auto;
    /*right: 1rem;*/
    /*margin: .5rem;*/
  }

  .menu a {
    color: black !important;
  }

  .menu nav a:not(:last-child) {
    margin-right: 0;
  }

  .menu nav a {
    font-size: 2rem;
  }
}
