/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* Don't kill focus outline for keyboard users: http://24ways.org/2009/dont-lose-your-focus */
a:hover, a:active {
    outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
}

body {
  background: #fdf6e3;
  color: black;
  font-size: 2em;
  letter-spacing: 0.01em;
  line-height: 1.6;
  font-family: 'Kurale', 'Helvetica', sans-serif;
  height: 100%;
  min-height: 100%;
  text-align: center;
}

header {
  background: url(../img/background.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 726px;
}

.event hr {
  border: 0;
  margin: 2rem 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

p {
  vertical-align: top;
}

p img {
  float: left;
  margin-top: .5rem;
  margin-right: 2rem;
  border-radius: 6px;
}

p:after {
  content: "";
  display: block;
  clear: both;
}
  
a {
  padding-bottom: 2px;
  text-decoration: none;
  transition: color 0.5s ease;
  /* blue */
  color: #268bd2;
}

a:hover {
  transition: color 0.5s ease;
  /* violet */
  color: #6c71c4;
  border-bottom: 2px solid #6c71c4;
}

.events, .intro, h2 {
  max-width: 980px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: 4rem;*/
}

h2 {
  border-bottom: medium double #93a1a1;
  margin-bottom: 4rem;
  font-size: 4rem;
}

.intro p {
  margin-bottom: 2rem;
}

.intro p:first-child {
  font-size: 2.8rem;
}

.intro p:first-child + p {
  font-size: 2.6rem;
}

.event {
  margin-bottom: 3rem;
}

.event h3 {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 3.2rem;
  border-bottom: medium double #839496;
}

.event h4 {
  text-transform: uppercase;
}

.event p {
  margin-top: 1.5rem;
  font-size: 2.6rem;
}

.event p:last-child {
  font-size: 2rem;
}

/* teacher paragraph style */
.event h4 + p, .event h4 + p:before {
  margin-top: -.5rem;
  font-size: 1.6rem;
}

.event h4 + p:before {
  content: 'By ';
}
